<!-- Optional : language, rating info icon, star rating, feature, screenshots, movies   -->
<ion-view>
    <ion-content>
        <ion-list ng-controller="GameController" ng-show="showElements">

            <div class="row">
                <div class="col col-67" class="responsive-sm">
                    <h3 ng-bind-html="game.name"></h3>
                </div>
                <div class="col">
                    <img src="{{ game.iconUrl }}" class="responsive-sm">
                </div>
            </div>

            <div class="row">
                <button class="button button-stable col col-50" ng-click="goToDownloadPage()">Download</button>
                <div class="col col-center">
                    <p style="text-align: center">Price: {{ price }}</p>
                    <p style="text-align: center">Size: {{ game.downloadSize / (1024*1024) | number:2 }} MB</p>
                </div>
            </div>

            <div class="row" ng-show="showRating">
                <div class="col col-50 col-center">
                    <ionic-ratings ratingsobj='ratingsObject' index='0'></ionic-ratings>
                </div>
                <div class="col col-30 col-center">
                    <p>Score: {{ game.starRatingInfo.score * 20 | number:0 }}%</p>
                    <p>Votes: {{ game.starRatingInfo.numberVote }}</p>
                </div>
                <div class="col col-20 col-center">
                    <button ng-click="addToGameList()" ng-hide="isWishListed">Add to wish list</button>
                    <button ng-click="removeFromGameList()" ng-show="isWishListed">Remove from wish list</button>
                </div>
            </div>



            <div class="row">
                <div class="col col-33">
                    <img ng-click="seeImage(game.screenshotUrl[0].upper)" class="col col-center" src="{{ game.screenshotUrl[0].upper }}" class="responsive-sm">
                    <img ng-click="seeImage(game.screenshotUrl[0].lower)" class="col col-center" src="{{ game.screenshotUrl[0].lower }}" class="responsive-sm">
                </div>
                <div class="col col-33">
                    <img ng-click="seeImage(game.screenshotUrl[1].upper)" class="col col-center" src="{{ game.screenshotUrl[1].upper }}" class="responsive-sm">
                    <img ng-click="seeImage(game.screenshotUrl[1].lower)" class="col col-center" src="{{ game.screenshotUrl[1].lower }}" class="responsive-sm">
                </div>
                <div class="col col-33">
                    <img ng-click="seeImage(game.screenshotUrl[2].upper)" class="col col-center" src="{{ game.screenshotUrl[2].upper }}" class="responsive-sm">
                    <img ng-click="seeImage(game.screenshotUrl[2].lower)" class="col col-center" src="{{ game.screenshotUrl[2].lower }}" class="responsive-sm">
                </div>
            </div>

            <p class="col col-center" ng-bind-html="game.description"></p>

            <!-- Videos -->
            <div ng-show="game.movie.length > 0">

                <h4>Video(s):</h4>
                <div ng-repeat="n in [].constructor(game.movie.length) track by $index">
                    <div class="col">
                        <a class="item col-center">
                            <div class="col item-text-wrap">
                                <h2 ng-bind-html="game.movie[$index].name" ></h2>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <img  src="{{game.movie[$index].bannerUrl}}" class="responsive-sm">
                                </div>
                                <div class="col col-30">
                                    <button class="button button-positive" ng-click="watchVideo(game.movie[$index].videoUrl)">See video</button>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>


            <p>
                Genre:
                <div ng-repeat ="n in [].constructor(game.genre.length) track by $index">
                    • {{game.genre[$index].name}} <br />
                </div>
            </p>

            <p>
                Language:
                <div ng-repeat ="n in [].constructor(game.language.length) track by $index">
                    • {{game.language[$index].name}} <br />
                </div>
            </p>

            <p>
                Feature:
                <div ng-repeat ="n in [].constructor(game.feature.length) track by $index">
                    • {{game.feature[$index].name}} <br />
                </div>
            </p>

            <p>Number of players: {{ game.numberOfPlayers }}</p>

            <p>Platform: {{  game.platform}}</p>

            <p>Publisher: {{ game.publisher }}</p>

            <p>Release date on the eShop: {{ game.releaseDate }}</p>

            <p>Contains in app purchase: {{ game.inAppPurchase }}</p>

            <img class="responsive-sm" src="{{ game.ratingInfoIconUrl }}">

            <p ng-bind-html="game.copyrightedText"></p>

        </ion-list>
    </ion-content>
</ion-view>
