<ion-view>
    <ion-content ng-controller="GameListController" ng-show="showElements">
        <ion-list>
            <h2>Research results</h2>

            <h3 ng-show="games.total == 0">No games found... Try again! :)</h3>
            <h3 ng-show="games.total == 1">Found 1 game.</h3>
            <h3 ng-show="games.total > 1">Found {{ games.total }} games.</h3>

            <div ng-repeat="n in [].constructor(games.content.length) track by $index">
                <div class="col">
                    <a class="item col-center">
                        <div class="col item-text-wrap">
                            <h2 ng-bind-html="games.content[$index].name" ></h2>
                        </div>

                        <div class="row">
                            <div class="col">
                                <img  src="{{games.content[$index].iconUrl}}" class="responsive-sm">
                            </div>
                            <div class="col col-30 item-text-wrap">
                                <p>{{games.content[$index].platformName}}</p>
                            </div>
                            <div class="col col-20">
                                <button class="button button-positive" ng-click="buttonClicked(games.content[$index].contentId)" ui-sref="game">See</button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </ion-list>

        <ion-infinite-scroll
            ng-if="moreDataCanBeLoaded()"
            on-infinite="loadMoreData()"
            distance="1%">
         </ion-infinite-scroll>

    </ion-content>
</ion-view>
