<ion-view>
    <ion-content ng-controller="LoginController">
        <ion-list>
            <h2>Login</h2>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input ng-model="usernameSelect" type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input ng-model="passwordSelect" type="password">
                </label>
            </div>

            <button ng-click="loginButtonClicked()" class="button button-block button-positive">Log in</button>

            <p>
                You doesn't have an account? Create a new one!
            </p>
        </ion-list>
    </ion-content>
</ion-view>
