<ion-view>
    <ion-content ng-controller="RegisterController">
        <ion-list>
            <h2>Create an account</h2>
            <p>
                Please, complete the fields below.
                <br />
                The email is optional.
            </p>

            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input ng-model="usernameSelect" type="text">
                </label>

                <label class="item item-input">
                    <span class="input-label">E-mail</span>
                    <input ng-model="emailSelect" type="email">
                </label>

                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input ng-model="passwordSelect" type="password">
                </label>
            </div>

            <button ng-click="registerButtonClicked()" class="button button-block button-positive">Register</button>

        </ion-list>
    </ion-content>
</ion-view>
